<!-- Main Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/" >
            <img src="/assets/images/boltlogoinv.svg" alt="" height="58">
          </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-gamepad"></i>
                        Tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/forum"><i class="fas fa-calendar-alt"></i>
                        Forum</a>
                </li>
               
                <li class="nav-item">
                    <button routerLink="/login" routeLinkActive="active" type="button" 
                    *ngIf="!authenticated" class="btn btn-dark aqua-button">Log in</button>
                    
                    <button routerLink="/home" routeLinkActive="active" type="button" 
                    *ngIf="authenticated" (click)="logout()" class="btn btn-dark aqua-button">Log out</button>
                </li>
            </ul>
        </div>
    </div>
</nav>