<!--Main Content-->
<main class="container-fluid">
    <div class="row py-4 align-items-center">
        <div class="col-md-5 col-12">
            <div class="col-10">
                <h1>Final Results</h1>
                <p class="fs-4">1.</p>
                <p class="fs-4">2.</p>
                <p class="fs-4">3.</p>
            </div>    
        </div>
        <div class="col-md-7 col-12">
            <div class="col-10" *ngIf="tournament" >
                <h1>Tournament: {{tournament.name}}</h1>
                <p>{{tournament.description}}</p>
                <p>{{tournament.startDate | date:'medium' }} - {{tournament.endDate | date:'medium' }}</p>
            </div> 
        </div>
    </div>
    <div class="row py-4 align-items-center" *ngIf="tournament">
        <div class="col-10">
            <table class="table table-dark" id='tab'>
                <thead><tr>
                    <th>Players</th> <th>Matches</th>
                </tr></thead>
                <tbody>
                    <tr *ngFor="let player of tournament.playersList;">
                        <td>{{player.name}}</td> <td>--</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
  </main>
