<div class="justify-content-center div-container">
    <h1>Tournaments</h1>
</div>


<div class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <form #createT="ngForm" (ngSubmit)="onSubmit(createT)">
            <div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTournamentLabel">Update Tournament</h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="tournamentName" class="col-form-label">Tournament Name:</label>
                            <input type="text" class="form-control" id="tournamentName" ngModel name="tournamentName"
                                placeholder="{{tournaments[0].name}}">
                        </div>
                        <div class="mb-3">
                            <label for="tournamentDesc" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="tournamentDesc" ngModel name="tournamentDesc"
                                placeholder="{{tournaments[0].description}}"></textarea>
                        </div>
                        <div class="row row-cols-2">
                            <div class="mb-3">
                                <label for="startDate" class="col-form-label">Start Date:</label>
                                <input matInput [matDatepicker]="startDate" ngModel name="startDate"
                                    placeholder="{{tournaments[0].startDate}}">
                                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                <mat-datepicker #startDate></mat-datepicker>
                            </div>
                            <div class="mb-3">
                                <label for="endDate" class="col-form-label">End Date:</label>
                                <input matInput [matDatepicker]="endDate" ngModel name="endDate"
                                    placeholder="{{tournaments[0].endDate}}">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate></mat-datepicker>
                            </div>
                        </div>
                        <div *ngIf="editable">
                            <div class="mb-3" >
                                <label class="col-form-label">Player 1:</label>
                                <div class="row row-cols-2">
                                    <div class="mb-3">
                                        <label for="player1Name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="player1Name" ngModel name="player1Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="player1Phone" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="player1Phone" ngModel
                                            name="player1Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Player 2:</label>
                                <div class="row row-cols-2">
                                    <div class="mb-3">
                                        <label for="player2Name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="player2Name" ngModel name="player2Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="player2Phone" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="player2Phone" ngModel
                                            name="player2Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Player 3:</label>
                                <div class="row row-cols-2">
                                    <div class="mb-3">
                                        <label for="player3Name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="player3Name" ngModel name="player3Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="player3Phone" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="player3Phone" ngModel
                                            name="player3Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Player 4:</label>
                                <div class="row row-cols-2">
                                    <div class="mb-3">
                                        <label for="player4Name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="player4Name" ngModel name="player4Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="player4Phone" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="player4Phone" ngModel
                                            name="player4Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Player 5:</label>
                                <div class="row row-cols-2">
                                    <div class="mb-3">
                                        <label for="player5Name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="player5Name" ngModel name="player5Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="player5Phone" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="player5Phone" ngModel
                                            name="player5Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Player 6:</label>
                                <div class="row row-cols-2">
                                    <div class="mb-3">
                                        <label for="player6Name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="player6Name" ngModel name="player6Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="player6Phone" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="player6Phone" ngModel
                                            name="player6Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Player 7:</label>
                                <div class="row row-cols-2">
                                    <div class="mb-3">
                                        <label for="player7Name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="player7Name" ngModel name="player7Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="player7Phone" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="player7Phone" ngModel
                                            name="player7Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Player 8:</label>
                                <div class="row row-cols-2">
                                    <div class="mb-3">
                                        <label for="player8Name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="player8Name" ngModel name="player8Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="player8Phone" class="col-form-label">Phone:</label>
                                        <input type="text" class="form-control" id="player8Phone" ngModel
                                            name="player8Phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/home"
                            routeLinkActive="active">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>