<div role="document" class="modal-dialog">
    <div class="modal-content">
        <form (ngSubmit)="submit()">
                <div class="modal-header">
                    <h1 class="modal-title" id="loginTitleLabel">Login</h1>
                    <button type="button" class="btn close-model-button" data-bs-dismiss="modal" routerLink="/home"
                    routeLinkActive="active"> X </button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label class="col-form-label">Phone Number:</label>
                        <input type="text" class="form-control" id="phonenumber" [(ngModel)]="loginForm.phoneNumber" name="phoneNumber">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="loginForm.name" name="name">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="loginForm.password" name="password">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary text-left">Sign In</button>
                    <a>Don't have an account?</a>
                    <button type="button" class="btn signup-button" routerLink="/register" routeLinkActive="active">Sign up</button>
                    <a href="/">Forgot Password?</a>
                </div>
        </form>
    </div>
</div> 