<div class="justify-content-center div-container">
    <h1>Tournaments</h1>
    <button routerLink="/create" routeLinkActive="active" type="submit"
        class="create-tournament-button btn div-center">+ Create New Tournament</button>
</div>
<div class="container">
    <div class="bg-dark p-5 rounded-lg m-3">
        <div class="d-flex justify-content-center">
            <table class="table table-dark" id='tab'>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of tournaments;">
                        <td><a class="" href="/detail/{{ e._id }}">{{ e.name }}</a></td>
                        <td>{{ e.status }}</td>
                        <td>
                            <a class="delete-button btn" routerLink="/delete/{{ e._id }}"><i class="fas fa-trash-alt"></i> Delete</a>
                            <span *ngIf='!(e.status == "started")'>
                                <a class="modify-button btn" routerLink="/update/{{ e._id }}"><i class="fas fa-edit"></i>
                                    Modify</a>
                                <a class="modify-button btn" (click)='startTournament(e)'>
                                    Start</a>    
                            </span> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>