<!-- Footer -->
<nav class="navbar fixed-bottom navbar-light" style="background-color: rgb(66, 60, 60);">
    <div>
        <p class="copyright-text">&copy; 2021 Bolt Tournaments. All rights reserved.</p>
    </div>
    <div>
        <ul>
            <li>
                <a class="nav-link" href="/">
                    Sitemap</a>
            </li>
            <li>
                <a class="nav-link" href="/">
                    Privacy Policy</a>
            </li>
        </ul>
    </div>
</nav>